@import url("https://fonts.google.com//Bigspecimen+Shoulders+Display");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bigspecimen Shoulders Display' , sans-serif;
    /* font-family: 'Lexend Deca' , sans-serif; */
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}


nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}


nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    color: #2460a7ff;
    text-decoration: none;
}

p{
    color: #2460a7ff;

}


.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background:#2460a7ff;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background .5s;
}
.btn:hover{
    background: #85b3d1ff;

}

.header{
    background: radial-gradient(#1dacd6, #fff);
}

.header .row{
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
    /* background: radial-gradient(#87cefa, #fff); */
}

.categories img {
    margin: 70px 0;
    /* background: radial-gradient(#87cefa, #fff); */
    box-shadow: 0 0 10px 0px rgb(95, 116, 143);
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3{
    width: 100%;
}


.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.small-container img{
    background:  #fff;
    box-shadow: 0 0 10px 0px rgb(95, 116, 143);
}


.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform .9s;
}

.col-4 img{
    width: 100%;
}


.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #2460a7ff;
}

.title::after{
    content: '';
    background: #85b3d1ff;
    width: 80px;
    height: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #85b3d1ff;
    font-weight: normal;
}

.col-4 p{
    font-size:14px;
}

.ratings .fa{
    color:#1dacd6;
}

.col-4:hover{
    transform: translateY(-50px);
}

/* ------offer------ */
.offer{
    background: radial-gradient(#1dacd6, #fff);
    margin-top: 80px;
    padding: 30px 0;
   
}

.offer .small-container img{
    box-shadow:none;
}

 .col-2 .offer-img{
    background:transparent;
    padding: 50px;
}


small{
    color:rgb(95, 116, 143);
}


.testimonial{
    padding-top: 100px;
}


.testimonial .col-3{
    height: 350px;
    text-align: center;
    transition: transform .9s;
    padding: 40px 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgb(95, 116, 143);
}

.testimonial .col-3 img{
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
}

.fa.fa-quote-left{
    font-size: 30px;
    color: #2460a7ff;
}


.testimonial .col-3:hover{
    transform: translateY(-50px);
}


.col-3 p{
    font-size: 16px;
    margin: 12px 0;
    color: #2460a7ff;
}


.testimonial .col-3 h3{
    font-weight: 600;
    color: #1dacd6;
    font-size: 18px;
}



/* -------brand-------- */

.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    cursor: pointer;
    filter: grayscale(100%);
    box-shadow: none;
    width: 100%;
}


.col-5 img:hover{
    filter: grayscale(0);
}



/* ----------- footer--------------- */

.footer{
    box-shadow: 0 0 20px 0px rgb(95, 116, 143);
    background: rgb(255, 255, 255);
    color: #85b3d1ff;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #85b3d1ff;
}

.footer h3{
    color: #2460a7ff;
    margin-bottom: 20px;
}


.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}


.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex:1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}


.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
    cursor: pointer;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #2460a7ff;
    height: 1px;
    margin: 20px;
}

.copyright{
    text-align: center;
}



/* ---------------Responsive Navbar------------ */

.menu-icon{
     width: 28px;
     margin-left: 20px;
     display: none;
}


/* -----------Media Query for menu-------- */

@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #1dacd6;
        width: 100%;
        overflow: hidden;
        transition: max-height .7s;
    }


    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
}



/* --------media query for less than 600 screen size----- */
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }

    .col-2, .col-3 , .col-4{
        flex-basis: 100%;
    }
}
